/* body {
  background-image: url(./img/fondo.jpg);
  background-repeat: no-repeat;
  background-size:cover;
} */

h1{
    font-family: 'Lobster', cursive;
}

.pantalla {
  display: flex;
  flex-direction: row;
  width: 50em;
  height: 5em;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 187, 41);
  border: 2px solid black;
  border-radius: 30px;
  margin: 0 auto;
}

.ventana {
  display: flex;
  align-items: center;
  width: auto;
  height: 50px;
  margin: 4px;
  padding: 10px;
}

.pre {
  font-family: "Patrick Hand SC", cursive;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.padre {
  background-color: rgb(193, 245, 73);
  display: flex;
  flex-wrap: wrap;
  width: 45em;
  height: auto;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-radius: 20px;
}

.elemento {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid rgb(19, 18, 18);
  margin: 4px;
  margin: 15px;
}
.elemento:hover {
  /* width: 105px;
  height: 105px; */
  box-shadow: 2px 2px 31px -4px rgba(0, 0, 0, 0.75);
}

.acciones {
  display: flex;
  flex-direction: row-reverse;
  width: 35em;
  margin: 0 auto;
}

.accion {
  padding: 8px;
  margin: 4px;
  border-radius: 5px;
}

.ticket{
  display: table;
  background-image: url(./img/pngtree-light-paper-texture-textured-background-image_260958.jpg);
  width: 550px;
  height: auto;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  padding: 22px;
}

.tablaTicket{
  width: 95%;
  font-size: 0.9em;
  border:none;
  box-shadow: none;
}

.datosTicket{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.importeTotalCompra{
  padding-top: 30px;

}
